{% extends 'FieldOfficerManagment/base_map.html' %}
{% block title %}Display map{% endblock %}
{% block header %}

     <style>
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid map-container">

    <div class="row">

         <div class="form-group col-md-6">
                    <label class="control-label col-md-4" for="fieldOfficer"><label for="id_dispatchedDate">Dispatched Date:</label></label>
                    <div class="col-md-7"><input type="text" name="dispatchedDate" required id="id_dispatchedDate" class="datefield col-md-10"/></div>
            </div>
        <div class="col-sm-12">
            <button id="clear">clear</button>
            <div id="map"></div>
            <div id="popup" class="ol-popup">
              <a href="#" id="popup-closer" class="ol-popup-closer"></a>
              <div id="popup-content"></div>
            </div>

             <div id="wrapper">
                <div id="location"></div>
                <div id="scale"></div>
            </div>

            <div id="nodelist">
                <em>Click on the map to get feature info</em>
            </div>
        </div>
   </div>
</div>
    <script type="text/javascript">


      var pureCoverage = false;
      // if this is just a coverage or a group of them, disable a few items,
      // and default to jpeg format
      var format = 'image/png';
      var bounds = [38.6365928649902, 8.83087158203125,
                    38.9067764282227, 9.09962368011475];

	  var mousePositionControl = new ol.control.MousePosition({
        className: 'custom-mouse-position',
        target: document.getElementById('location'),
        coordinateFormat: ol.coordinate.createStringXY(5),
        undefinedHTML: '&nbsp;'
      });
      var tiled = new ol.layer.Tile({

        source: new ol.source.TileWMS({
          url: 'http://localhost:8080/geoserver/IncidentManagment/wms',
          params: {'FORMAT': format,
                   'VERSION': '1.1.1',
                   tiled: true,
                LAYERS: 'IncidentManagment:{{ lay1.name }}',
                STYLES: ''
          }
        })
      });


       var tiledRoads = new ol.layer.Tile({
        visible: true,
        source: new ol.source.TileWMS({
          url: 'http://localhost:8080/geoserver/IncidentManagment/wms',
          params: {'FORMAT': format,
                   'VERSION': '1.1.1',
                   tiled: true,
                STYLES: '',
                LAYERS: 'IncidentManagment:nfs_new_roads'
          }
        })
      });

      var tiledRoute = new ol.layer.Tile({
        visible: true,
        source: new ol.source.TileWMS({
          url: 'http://localhost:8080/geoserver/IncidentManagment/wms',
          params: {'FORMAT': format,
                   'VERSION': '1.1.1',
                   tiled: true,
                STYLES: '',
                LAYERS: 'IncidentManagment:routing'

          }
        })
      });
    var vectorWorda = new ol.layer.Vector({
        source: new ol.source.Vector({

              url: 'http://localhost:8080/geoserver/IncidentManagment/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=IncidentManagment:nfs_woredas&outputFormat=application/json',
             format: new ol.format.GeoJSON()

            }),
        style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: '#b30734',
                    width: 2
                }),
                fill: new ol.style.Fill({
                    color: [51, 51, 51, .7]
                })
            })

         });
      var vector = new ol.layer.Vector({
        source: new ol.source.Vector({

              url: 'http://localhost:8080/geoserver/IncidentManagment/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=IncidentManagment:addisababapolicestation&outputFormat=application/json',
             format: new ol.format.GeoJSON()

            }),
        style: new ol.style.Style({

                image: new ol.style.Circle({
                    radius: 4,
                    fill: new ol.style.Fill({
                        color: 'red'
                    })
                })
            })

    });
    var vectorPoliceStallSource=new ol.source.Vector({

              url: 'http://localhost:8080/geoserver/IncidentManagment/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=IncidentManagment:nf_policestall&outputFormat=application%2Fjson' ,
             format: new ol.format.GeoJSON()

            });
    vectorPoliceStall = new ol.layer.Vector({
        source: vectorPoliceStallSource,
        style: new ol.style.Style({

                image: new ol.style.Circle({
                    radius: 3,
                    fill: new ol.style.Fill({
                        color: 'blue'
                    })
                })
            })

        });



      var projection = new ol.proj.Projection({
          code: 'EPSG:4326',
          units: 'degrees',
          axisOrientation: 'neu'
      });


        var map = new ol.Map({
          controls: ol.control.defaults({attribution: false}).extend([mousePositionControl]),
          target: 'map',
          layers: [tiled,vectorWorda,tiledRoads,vector,vectorPoliceStall],

          view: new ol.View({
           projection: projection
        })
      });


    /**
       * Elements that make up the popup.
       */
      var container = document.getElementById('popup');
      var content = document.getElementById('popup-content');
      var closer = document.getElementById('popup-closer');

      /**
       * Create an overlay to anchor the popup to the map.
       */
      var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
        element: container,
        autoPan: true,
        autoPanAnimation: {
          duration: 250
        }
      }));


      /**
       * Add a click handler to hide the popup.
       * @return {boolean} Don't follow the href.
       */
      closer.onclick = function() {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
      };


      map.addOverlay(overlay);


      map.getView().on('change:resolution', function(evt) {
        var resolution = evt.target.get('resolution');
        var units = map.getView().getProjection().getUnits();
        var dpi = 25.4 / 0.28;
        var mpu = ol.proj.METERS_PER_UNIT[units];
        var scale = resolution * mpu * 39.37 * dpi;
        if (scale >= 9500 && scale <= 950000) {
          scale = Math.round(scale / 1000) + "K";
        } else if (scale >= 950000) {
          scale = Math.round(scale / 1000000) + "M";
        } else {
          scale = Math.round(scale);
        }
        document.getElementById('scale').innerHTML = "Scale = 1 : " + scale;
      });
      map.getView().fit(bounds, map.getSize());








  var params = {
    LAYERS: 'IncidentManagment:routing',
    FORMAT: 'image/png',
    'VERSION': '1.3.0'
  };

  // The "start" and "destination" features.
  var startPoint = new ol.Feature();
  var destPoint = new ol.Feature();

  // The vector layer used to display the "start" and "destination" features.
  var vectorLayer = new ol.layer.Vector({
    source: new ol.source.Vector({
      features: [startPoint,destPoint]
    })
  });
  map.addLayer(vectorLayer);

  // A transform function to convert coordinates from EPSG:3857
  // to EPSG:4326.
 // var transform = ol.proj.getTransform('EPSG:3857', 'EPSG:4326');

  // Register a map click listener.
  map.on('click', function(event) {
    if (startPoint.getGeometry() == null) {
      // First click.
      startPoint.setGeometry(new ol.geom.Point(event.coordinate));
      var closest = vectorPoliceStallSource.getClosestFeatureToCoordinate(event.coordinate);
      destPoint=closest;
      // Transform the coordinates from the map projection (EPSG:3857)
      // to the server projection (EPSG:4326).
      var startCoord = startPoint.getGeometry().getCoordinates();
      var destCoord = destPoint.getGeometry().getCoordinates();
      var viewparams = [
        'x1:' + startCoord[0], 'y1:' + startCoord[1],
        'x2:' + destCoord[0], 'y2:' + destCoord[1]
      ];
      params.viewparams = viewparams.join(';');
      result = new ol.layer.Image({
        source: new ol.source.ImageWMS({
          ratio: 1,
          url: 'http://localhost:8080/geoserver/IncidentManagment/wms',
          params: params
        })
      });
      map.addLayer(result);
    }
  });

  var clearButton = document.getElementById('clear');
  clearButton.addEventListener('click', function(event) {
    // Reset the "start" and "destination" features.
    startPoint.setGeometry(null);

    // Remove the result layer.
    map.removeLayer(result);
  });




    </script>

{% endblock %}
